matplotlib==3.8.4
networkx==3.2.1
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.3.0
plotly==5.22.0
polyscope==2.6.1
potpourri3d==1.2.1
PyGLM==2.7.1
pygltflib==1.16.0
recordtype==1.4
scikit-learn==1.4.2
scikit-learn-extra==0.3.0
scipy==1.11.4
trimesh==4.4.0
typing-inspect==0.9.0
