numpy==1.26.4
scipy==1.11.4
scikit-learn==1.4.2
matplotlib==3.8.4
plotly==5.22.0
opencv-python==4.9.0.80
trimesh==4.4.0
networkx==3.2.1
joblib==1.4.2
threadpoolctl==3.5.0
potpourri3d==1.2.1
pygltflib==1.16.0
pyglm==2.7.1
rtree==1.2.0
recordtype==1.4
pillow==10.3.0
scikit-learn-extra==0.3.0
potpourri3d==1.2.1
polyscope==2.6.1

